<h1>Listing elements</h1>

<table>
  <tr>
    <th>Fieldtype</th>
    <th>Fieldname</th>
    <th>Fieldnamealt</th>
    <th>Fieldflags</th>
    <th>Fieldjustification</th>
    <th>Fieldmaxlength</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @elements.each do |element| %>
  <tr>
    <td><%= element.FieldType %></td>
    <td><%= element.FieldName %></td>
    <td><%= element.FieldNameAlt %></td>
    <td><%= element.FieldFlags %></td>
    <td><%= element.FieldJustification %></td>
    <td><%= element.FieldMaxLength %></td>
    <td><%= link_to 'Show', element %></td>
    <td><%= link_to 'Edit', edit_element_path(element) %></td>
    <td><%= link_to 'Destroy', element, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Element', new_element_path %>
