<p id="notice"><%= notice %></p>

<p>
  <b>Fieldtype:</b>
  <%= @element.FieldType %>
</p>

<p>
  <b>Fieldname:</b>
  <%= @element.FieldName %>
</p>

<p>
  <b>Fieldnamealt:</b>
  <%= @element.FieldNameAlt %>
</p>

<p>
  <b>Fieldflags:</b>
  <%= @element.FieldFlags %>
</p>

<p>
  <b>Fieldjustification:</b>
  <%= @element.FieldJustification %>
</p>

<p>
  <b>Fieldmaxlength:</b>
  <%= @element.FieldMaxLength %>
</p>


<%= link_to 'Edit', edit_element_path(@element) %> |
<%= link_to 'Back', elements_path %>
