<%= form_for @document, :html => { :multipart => true } do |f| %>
  <% if @document.errors.any? %>
    <div class="error" id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset><legend>Údaje o dokumente</legend>
  <div class="input_field">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "bigfield" %>
  </div>
  <div class="input_field">
    <%= f.label :description %>
    <%= f.text_area :description, :rows => 4, :size => '20x4' %>
  </div>
  <div class="input_field">
    <%= f.label :pdffile %>
    <%= f.file_field :pdffile %>
  </div>
  </fieldset>
  <%= f.fields_for :elements do |builder| %>
	<%= render 'elements_partial', :f => builder %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>