<h1>Listing documents</h1>

<table cellspacing="0" cellpadding="0"><!-- Table -->
	<thead>
		<tr class="theader">
			<th>Názov</th>
			<th>MD5</th>
			<th>Action</th>
		</tr>
	</thead>
	
	<tbody>
		<% @documents.each do |document| %>
		  <tr>
		    <td><%= link_to document.name, document %></td>
		    <td><%= document.checksum %></td>
		    <td><%= link_to 'Edit', edit_document_path(document), :class => "edit" %> | <%= link_to 'Destroy', document, :confirm => 'Are you sure?', :method => :delete, :class => "delete" %></td>
		  </tr>
		<% end %>
	</tbody>
</table><!-- /Table -->

<br />

<%= link_to 'New Document', new_document_path, :class => "button" %>
