<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @document.name %>
</p>

<p>
  <b>Hash:</b>
  <%= @document.hash %>
</p>

<p>
  <b>Description:</b>
  <%= @document.description.to_json %>
</p>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
