<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @state_option.value %>
</p>

<p>
  <b>Element:</b>
  <%= @state_option.element %>
</p>


<%= link_to 'Edit', edit_state_option_path(@state_option) %> |
<%= link_to 'Back', state_options_path %>
